body{
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 48px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    line-height: 1.4;
    color: #66BFBF;
}
h2{
    color: #66BFBF;
    font-weight: normal;
}

.top-container{
    background-color: #EAF6F6;
    
    position: relative;
}
.top-cloud{
    position: relative;
    top: 30px;
    left: 250px;
}
.bottom-cloud{
    position: absolute;
    right: 70%;
}

.profile-img{
    border-radius: 50%;
    width: 150px;
}
.bottom-container{
    background-color: #66BFBF    ;
    line-height: 2;
    height: 200px;
}
.footer-link{
    color: #11999E;
    position: relative
    ;
    top: 30px;
    padding: 20px;
   
}
.profile{
    margin-top: 50px;
    margin: 50px auto 40px auto;
    width: 40%;
    padding :20px;
    line-height: 2;
}
.skill-row{
    
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
 
}
.skill-name{
    color: #11999E;
}
.chillies-skill{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.computer-skill{
    width: 25%;
    float: right;
    margin-left: 20px;
    border-radius: 50%;
}

.contact-me{
    width: 30%;
    margin: 30px auto ;
}
.copyright-text{
    color: white;
    position: relative;
    top: 60px;
}
.btn{
    background-color: #11999E;
    color: white;
    border-radius: 5px;
    padding: 7px 25px ;
    font-size: 1rem;   
    
}
.contact-me{
    line-height: 2;
    margin: 20px auto 50px;
}
hr{

    border-bottom: dotted 10px gray;
    width: 60px;

}